// COLORS
$primary-color: #5ce1e6;
$secondary-color: #439ba9;

$white-color: #fff;

$dark-grey: #632564;

$dark-blue-text: black; // For Headings
// $dark-blue-text: #632564;
// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
