// COLORS
$primary-color: #F2BD99;
$secondary-color: #F49160;

$white-color: #fff;

$dark-grey: #D5A27F;

$dark-blue-text: #523E27; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
